
       body {
        margin:0;
        padding: 0;
        background-image: url(/images/92zYVF.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
       } 
       
       .container {
        width: 60%;
        margin: 0 auto;
       }

       header {
        background-color:mediumspringgreen;
        
       }
       
       p {
        text-align: center;
       }
   
   
    