<!DOCTYPE html>
<html lang="en">

<h1>Login</h1>

<head>

</head>

<body>

<form action="/login" method="post">
  <div>
    <p><label>Enter Username</label><input type=text name="username"></p>  
      <p><label>Enter Password</label><input type=password name="password"></p> 
    <p><input type=submit value="Login"></p>
  </div>
</form> 

</body>

