

<h1>Login</h1>

<form action="/login" method="post">
  <p>
    <div><label for="username">Enter Username</label></div>
    <input type=text name="username">
  </p>  
  <p>
    <div><label for="password"> Enter Password</label></div>
    <input type=password name="password">
  </p>  
    <input type=submit value="Login">

</form>    

