<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8"/>
    
</head>

<body class="body">

<h1>Signup</h1>

  <div class="signup_form"> 
    <form action="/signup" method="post">
      <p><label>Enter Username </label><input type=text name="username"></p>
        <p><label>Enter Email </label><input type=email name="email"></p>
          <p><label>Enter Password </label><input type=password name="password"></p>
      <p><input type=submit value="Signup"></p>
    </form> 
  </div>

</body>   
