<!DOCTYPE html>
<html lang="en">

<header>
   <meta charset="utf-8"/>
</header>


<body>

<h1 class="body_headers">Everyones Current Favorite Books!</h1>

   <div class="all_books_listed_form">
      <% @books.each do |b| %>
         <p><%= b.title %>
         <% if current_user == b.user %>
            <a href="/books/<%= b.id %>/edit">Edit</a>
         <% end %>
      <% end %>
   </div>

</body>