<!DOCTYPE html>
<html lang="en">

<header>
   <meta charset="utf-8"/>
</header>

<body class="body">

<h1>Everyones Current Favorite Books!</h1>

   <div class="all_books_listed_form">
      <% @books.each do |b| %>
         <p><%= b.title %> <%= b.id %>
         <% if current_user == b.user %>
            <a href="/books/<%= b.id %>/edit">Edit</a>
         <% end %>
      <% end %>
   </div>

</body>