<!DOCTYPE html>
<html lang="en">


<h1>Add A New Book To Your List!<h1>

<head>
    <meta charset="utf-8" />
</head>


<body class="body_headers">

    <form action="/books" method="post">
        <div class="new_book_form">
            <p>Title: <input type="text" name="title"></br></p>
                <p>Author: <input type="text" name="author"></br></p>
                    <p>Genre: <input type="text" name="book_genre"></br></p>
                    <p>Number of pages: <input type="text" name="number_of_pages"></br></br></p>
                <p>Book review: <textarea name="book_review"></textarea></br></p>
            <input type="submit" value="Create Book">
        </div>    
    </form>


</body>