Title: <%= @book.title %></br>
Author: <%= @book.author %>


<a href="/books/<%= @book.id %>/edit"></br>Edit Post</a>

<form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Book">
</form>