<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <title>Vonderbooks</title>
    
    <style>
    h1 {
        text-align:center;
    }
    </style>

</head>



<body>
    <h1>Vonderbooks</h1> 
    <header>
        <div class="container">    
            <% if !logged_in? %>
                <a href="/login">Log In</a>   &nbsp;
                <a href="/signup">Sign Up</a>   &nbsp;
            <% else %>
                <a href="/books/new">New Book</a>
                <a href="/logout">Log Out</a>
            <% end %>
            <a href="/books">Check Out What People Are Reading!</a>
        </div>
    </header>
    

    <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
        </div>
    <% end %>
        
    <%= yield %>
</body>
