<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Vonderbooks</title>
</head>
<body>
    <h1>Vonderbooks</h1>
        
    
        <% if !logged_in? %>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        <% else %>
            <a href="/books/new">New Book</a>
        <form method="get" action="/logout" style="display: inline-block;">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Log Out" />
        </form>
        <% end %>
    <a href="/books">Check Out What People Are Reading!</a>

        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
            </div>
        <% end %>

        
    <%= yield %>
</body>
</html>